/* line 17, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/typography.scss */
body {
  color: black;
  font-family: "ff-scala-sans-web-pro", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
/* line 14, ../sass/mixins.scss */
body ::-webkit-selection {
  color: black;
  background: #ff6600;
}
/* line 14, ../sass/mixins.scss */
body ::-moz-selection {
  color: black;
  background: #ff6600;
}
/* line 14, ../sass/mixins.scss */
body ::-o-selection {
  color: black;
  background: #ff6600;
}
/* line 14, ../sass/mixins.scss */
body ::selection {
  color: black;
  background: #ff6600;
}
/* line 11, ../sass/typography.scss */
body a:link {
  color: #ff6600;
  text-decoration: none;
}
/* line 15, ../sass/typography.scss */
body a:visited {
  color: #ff6600;
}
/* line 18, ../sass/typography.scss */
body a:hover {
  color: #ff6600;
  text-decoration: underline;
}
/* line 22, ../sass/typography.scss */
body a:active {
  color: #ff6600;
}
/* line 27, ../sass/typography.scss */
body h1.title {
  font-size: 28px;
  margin-bottom: 0.9em;
  margin-left: -2px;
}
/* line 35, ../sass/typography.scss */
body h2,
body h3,
body h4 {
  font-weight: bold;
  margin-bottom: 0.1em;
}
/* line 39, ../sass/typography.scss */
body h2 {
  font-size: 21px;
}
/* line 42, ../sass/typography.scss */
body h3 {
  font-size: 17.5px;
}
/* line 45, ../sass/typography.scss */
body h4 {
  font-size: 15.75px;
}
/* line 49, ../sass/typography.scss */
body .content p {
  margin-bottom: 1em;
}
/* line 53, ../sass/typography.scss */
body .content ul li {
  list-style: square;
  margin-left: 1em;
}
/* line 58, ../sass/typography.scss */
body .content strong {
  font-weight: bold;
}

/* line 7, ../sass/aarsberetning2011.scss */
html {
  height: 100%;
}

/* line 11, ../sass/aarsberetning2011.scss */
body {
  height: 100%;
}
/* line 19, ../sass/aarsberetning2011.scss */
body.no-js .zone-menu-wrapper nav li.first, body.no-js .zone-menu-wrapper nav li.last, body.logged-in .zone-menu-wrapper nav li.first, body.logged-in .zone-menu-wrapper nav li.last {
  background-image: url("../images/nav-bullet.png");
  background-repeat: no-repeat;
}
/* line 23, ../sass/aarsberetning2011.scss */
body.no-js .zone-menu-wrapper nav li.first, body.logged-in .zone-menu-wrapper nav li.first {
  background-position: left 12px;
  padding-left: 1px;
}
/* line 27, ../sass/aarsberetning2011.scss */
body.no-js .zone-menu-wrapper nav li.last, body.logged-in .zone-menu-wrapper nav li.last {
  background-position: right 12px;
  padding-right: 1px;
}

/* line 38, ../sass/aarsberetning2011.scss */
.align-right {
  float: right;
  margin-left: 1em;
}
/* line 41, ../sass/aarsberetning2011.scss */
.align-right img {
  margin-top: 0;
}

/* line 46, ../sass/aarsberetning2011.scss */
.align-left {
  float: left;
  margin-right: 1em;
}
/* line 49, ../sass/aarsberetning2011.scss */
.align-left img {
  margin-top: 0;
}

/* line 54, ../sass/aarsberetning2011.scss */
.menu-dropdown {
  cursor: pointer;
}
/* line 56, ../sass/aarsberetning2011.scss */
.menu-dropdown .block-title {
  background: url("../images/nav-arrow-small.png") no-repeat right 1px;
  padding-right: 1.75em;
}
/* line 59, ../sass/aarsberetning2011.scss */
.menu-dropdown .block-title:hover {
  text-decoration: underline;
}
/* line 63, ../sass/aarsberetning2011.scss */
.menu-dropdown ul {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff,endColorstr=#e6ffffff);
  zoom: 1;
  display: none;
  padding: 1em;
  position: absolute;
  right: -4px;
  text-align: right;
  max-width: 300px;
  min-width: 200px;
  z-index: 100001;
}
/* line 73, ../sass/aarsberetning2011.scss */
.menu-dropdown ul li {
  padding-right: 0.5em;
}
/* line 75, ../sass/aarsberetning2011.scss */
.menu-dropdown ul li ul {
  display: block;
  padding: 0;
  background: none;
  position: relative;
}
/* line 80, ../sass/aarsberetning2011.scss */
.menu-dropdown ul li ul li {
  padding-right: 0.5em;
}
/* line 83, ../sass/aarsberetning2011.scss */
.menu-dropdown ul li ul li a:after {
  content: " -";
}

/* line 93, ../sass/aarsberetning2011.scss */
header {
  background: #fff;
  height: 7em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 100, ../sass/aarsberetning2011.scss */
header .region-secondary-menu {
  font-size: 12.6px;
  margin-top: 1em;
  text-transform: uppercase;
}
/* line 103, ../sass/aarsberetning2011.scss */
header .region-secondary-menu a {
  color: #656565;
}
/* line 108, ../sass/aarsberetning2011.scss */
header .region-secondary-menu .region-secondary-menu-inner > nav,
header .region-secondary-menu .region-secondary-menu-inner > div {
  float: right;
  margin-right: 1em;
}
/* line 112, ../sass/aarsberetning2011.scss */
header .region-secondary-menu .block-locale-language {
  border-right: 1px solid #cccccc;
  padding-right: 1em;
}
/* line 116, ../sass/aarsberetning2011.scss */
header .region-secondary-menu .block-locale-language ul li {
  list-style: none;
}
/* line 123, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name {
  margin-top: 2em;
  margin-bottom: 1em;
}
/* line 126, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a {
  font-size: 22.4px;
  text-transform: uppercase;
}
/* line 130, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a:link, header .zone-branding .site-name a:visited {
  color: black;
}
/* line 133, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a:hover {
  color: #ff6600;
  text-decoration: none;
}
/* line 137, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a:active {
  background-color: #ff6600;
  color: black;
}

/* line 160, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
  zoom: 1;
  overflow: hidden;
  padding: 1.5em 0 1em;
  position: absolute;
  top: 7em;
  width: 100%;
  z-index: 10;
}
/* line 168, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav {
  text-align: center;
}
/* line 170, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 177, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li.active-trail span a {
  background: url("../images/nav-active.png") no-repeat center 0;
  color: #fff;
  font-size: 13.3px;
  padding-top: 3.5em;
}
/* line 154, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li.active-trail span a:hover span {
  background: url("../images/nav-active.png") no-repeat center 0;
}
/* line 182, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span {
  background: url("../images/nav-sep.png") no-repeat center 1.45em;
  float: left;
  font-size: 10.5px;
  text-align: center;
  text-transform: uppercase;
}
/* line 188, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a {
  background: url("../images/nav.png") no-repeat center 0.75em;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  width: 97px;
  padding: 4.5em 1em 0;
}
/* line 194, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a.active {
  background: url("../images/nav-active.png") no-repeat center 0;
  color: #fff;
  font-size: 13.3px;
  padding-top: 3.5em;
}
/* line 154, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a.active:hover span {
  background: url("../images/nav-active.png") no-repeat center 0;
}
/* line 197, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 200, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a:hover a {
  background: url("../images/nav-hover.png") no-repeat center 0.75em;
}
/* line 205, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav {
  background: none;
}
/* line 208, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav.prev a {
  background: url("../images/nav-arrow-left.png") no-repeat;
}
/* line 213, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav.next a {
  background: url("../images/nav-arrow-right.png") no-repeat right 0;
}
/* line 217, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav a {
  display: block;
  height: 35px;
  overflow: hidden;
  text-indent: -10000px;
  width: 34px;
}

/* line 231, ../sass/aarsberetning2011.scss */
.page .section-content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 7em;
}
/* line 238, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper {
  background: url("../images/e-reolen.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 245, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .slide {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
}
/* line 250, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .zone-content {
  margin: auto;
  padding-top: 11em;
}
/* line 253, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .zone-content .region-content-inner {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff,endColorstr=#e6ffffff);
  zoom: 1;
  padding: 2em;
}
/* line 257, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .zone-content .region-sidebar {
  overflow: hidden;
}

/* line 268, ../sass/aarsberetning2011.scss */
.file-video iframe,
.file-video div {
  max-width: 100%;
}
