/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/typography.scss */
body {
  color: black;
  font-family: "ff-scala-sans-web-pro", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
/* line 9, ../sass/typography.scss */
body a:link {
  color: #ff6600;
  text-decoration: none;
}
/* line 13, ../sass/typography.scss */
body a:visited {
  color: #ff6600;
}
/* line 16, ../sass/typography.scss */
body a:hover {
  color: #ff6600;
  text-decoration: underline;
}
/* line 20, ../sass/typography.scss */
body a:active {
  color: #ff6600;
}
/* line 25, ../sass/typography.scss */
body h1.title {
  font-size: 28px;
  margin-bottom: 0.9em;
  margin-left: -2px;
}
/* line 32, ../sass/typography.scss */
body .content p {
  margin-bottom: 1em;
}

@media screen and (max-width: 1200px) {
  /* line 7, ../sass/mediaqueries.scss */
  .container-12 .region.always-stack {
    clear: both;
    margin-bottom: 2em;
    min-height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 24, ../sass/mediaqueries.scss */
  .region {
    clear: both;
  }
}
/* line 13, ../sass/aarsberetning2011.scss */
html {
  height: 100%;
}

/* line 17, ../sass/aarsberetning2011.scss */
body {
  height: 100%;
}

/* line 22, ../sass/aarsberetning2011.scss */
.align-right {
  float: right;
  margin-left: 1em;
}
/* line 25, ../sass/aarsberetning2011.scss */
.align-right img {
  margin-top: 0;
}

/* line 29, ../sass/aarsberetning2011.scss */
.align-left {
  float: left;
  margin-right: 1em;
}
/* line 32, ../sass/aarsberetning2011.scss */
.align-left img {
  margin-top: 0;
}

/* line 37, ../sass/aarsberetning2011.scss */
.menu-dropdown {
  position: relative;
}
/* line 39, ../sass/aarsberetning2011.scss */
.menu-dropdown ul {
  width: 200px;
  display: none;
  position: absolute;
  top: auto;
  left: 0;
  z-index: 100001;
  background-color: #fff;
  padding: 0 1em;
}

/* line 52, ../sass/aarsberetning2011.scss */
.menu-dropdown:hover {
  cursor: pointer;
}
/* line 54, ../sass/aarsberetning2011.scss */
.menu-dropdown:hover ul {
  display: block;
}

/* line 59, ../sass/aarsberetning2011.scss */
header {
  background: #fff;
  height: 7em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 66, ../sass/aarsberetning2011.scss */
header .region-secondary-menu {
  margin-top: 1em;
}
/* line 68, ../sass/aarsberetning2011.scss */
header .region-secondary-menu a, header .region-secondary-menu h2, header .region-secondary-menu span {
  color: #656565;
  text-transform: uppercase;
  font-size: 12.6px;
  display: inline;
}
/* line 74, ../sass/aarsberetning2011.scss */
header .region-secondary-menu .region-secondary-menu-inner > nav, header .region-secondary-menu .region-secondary-menu-inner > div {
  float: right;
  margin-right: 1em;
}
/* line 80, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 83, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a {
  font-size: 22.4px;
  text-transform: uppercase;
}
/* line 87, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a:link, header .zone-branding .site-name a:visited {
  color: black;
}
/* line 90, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a:hover {
  color: #ff6600;
  text-decoration: none;
}
/* line 94, ../sass/aarsberetning2011.scss */
header .zone-branding .site-name a:active {
  background-color: #ff6600;
  color: white;
  padding: .1em .1em 0;
}

/* line 104, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper {
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 1.5em 0 1em;
  position: absolute;
  top: 7em;
  width: 100%;
  z-index: 10;
}
/* line 112, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav {
  text-align: center;
}
/* line 114, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 119, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span {
  background: url("../images/nav-sep.png") no-repeat center 1.45em;
  float: left;
  font-size: 10.5px;
  text-align: center;
  text-transform: uppercase;
}
/* line 125, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a {
  background: url("../images/nav.png") no-repeat center 0.75em;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  width: 97px;
  padding: 4.5em 1em 0;
}
/* line 131, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a.active {
  background: url("../images/nav-active.png") no-repeat center 0;
  color: #fff;
  font-size: 13.3px;
  padding-top: 3.5em;
}
/* line 137, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a.active:hover span {
  background: url("../images/nav-active.png") no-repeat center 0;
}
/* line 146, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 149, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span a:hover a {
  background: url("../images/nav-hover.png") no-repeat center 0.75em;
}
/* line 154, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav {
  background: none;
}
/* line 157, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav.prev a {
  background: url("../images/nav-arrow-left.png") no-repeat;
}
/* line 162, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav.next a {
  background: url("../images/nav-arrow-right.png") no-repeat right 0;
}
/* line 166, ../sass/aarsberetning2011.scss */
.zone-menu-wrapper nav li span.arrow-nav a {
  display: block;
  height: 35px;
  overflow: hidden;
  text-indent: -10000px;
  width: 44px;
}

/* line 180, ../sass/aarsberetning2011.scss */
.page .section-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 7em;
}
/* line 186, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper {
  background: url("../images/e-reolen.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  position: absolute;
  top: 0;
}
/* line 192, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .slide {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
}
/* line 197, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .zone-content {
  margin: auto;
  padding-top: 11em;
}
/* line 200, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .zone-content .region-content-inner {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  background-color: transparent\9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfffffff,endColorstr=#bfffffff);
  zoom: 1;
  padding: 2em;
}
/* line 204, ../sass/aarsberetning2011.scss */
.page .section-content .zone-content-wrapper .zone-content .region-sidebar {
  overflow: hidden;
}

/* line 215, ../sass/aarsberetning2011.scss */
.file-video iframe,
.file-video div {
  max-width: 100%;
}
