/* line 1, ../sass/ie.scss */
body {
  padding: 100px;
}

/* line 5, ../sass/ie.scss */
img, video {
  max-width: auto;
}

/* line 10, ../sass/ie.scss */
#zone-content-wrapper {
  width: 100%;
}

/* line 16, ../sass/ie.scss */
.section-header,
.region-secondary-menu {
  z-index: 11;
}

/* line 20, ../sass/ie.scss */
.zone-menu-wrapper {
  left: 0;
}

/* line 26, ../sass/ie.scss */
img#expando {
  display: none;
  position: absolute;
  z-index: 1;
  -ms-interpolation-mode: bicubic;
}

/* line 34, ../sass/ie.scss */
.wide img#expando,
.tall img#expando {
  display: block;
}

/* line 38, ../sass/ie.scss */
.wide img#expando {
  height: auto;
  width: 100%;
}

/* line 43, ../sass/ie.scss */
.tall img#expando {
  height: 100%;
  width: auto;
}
