body {
  padding: 100px;
  position: relative;
}

.ie8 img,
.ie8 video {
  width: auto;
}

#zone-content-wrapper {
  width: 100%;
}

.section-header,
.region-secondary-menu {
  z-index: 11;
}

.zone-menu-wrapper {
  left: 0;
}

img#expando {
  display: none;
  position: absolute;
  z-index: 1;
  -ms-interpolation-mode: bicubic;
}

.wide img#expando,
.tall img#expando {
  display: block;
}

.wide img#expando {
  height: auto;
  width: 100%;
}

.tall img#expando {
  height: 100%;
  width: auto;
}
