/* line 1, ../sass/ie.scss */
body {
  padding: 100px;
}

/* line 6, ../sass/ie.scss */
img,
video {
  width: auto;
}

/* line 11, ../sass/ie.scss */
#zone-content-wrapper {
  width: 100%;
}

/* line 17, ../sass/ie.scss */
.section-header,
.region-secondary-menu {
  z-index: 11;
}

/* line 21, ../sass/ie.scss */
.zone-menu-wrapper {
  left: 0;
}

/* line 27, ../sass/ie.scss */
img#expando {
  display: none;
  position: absolute;
  z-index: 1;
  -ms-interpolation-mode: bicubic;
}

/* line 35, ../sass/ie.scss */
.wide img#expando,
.tall img#expando {
  display: block;
}

/* line 39, ../sass/ie.scss */
.wide img#expando {
  height: auto;
  width: 100%;
}

/* line 44, ../sass/ie.scss */
.tall img#expando {
  height: 100%;
  width: auto;
}
