/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "typography.scss";
@import "variables.scss";
@import "mediaqueries.scss";
@import "mixins.scss";

html {
  height: 100%;
}

body {
  height: 100%;
}

// Editor font styles
.align-right {
  float: right;
  margin-left: 1em;
  img {
    margin-top: 0;
  }
}
.align-left {
  float: left;
  margin-right: 1em;
  img {
    margin-top: 0;
  }
}

.menu-dropdown {
  position: relative;
  ul {
    width: 200px;
    display: none;
    position: absolute;
    top: auto;
    left: 0;
    z-index: 100001;
    background-color: #fff;
    padding: 0 $small-padding;
  }
  ul:hover {
  }
}
.menu-dropdown:hover {
  cursor: pointer;
  ul {
    display: block;
  }
}

header {
  background: #fff;
  height: 7em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; 
  .region-secondary-menu {
    margin-top: $small-padding;
    a, h2, span {
      color: $text-secondary-color;
      text-transform: uppercase;
      font-size: $font-size-default * .9;
      display: inline;
    }
    .region-secondary-menu-inner>nav, .region-secondary-menu-inner>div {
      float: right;
      margin-right: $small-spacing;
    }
  }
  .zone-branding {
    .site-name {
      margin-top: $large-padding * 1.5;
      margin-bottom: $small-padding;
      a {
        font-size: $font-size-default * 1.6;
        text-transform: uppercase;
        &:link,
        &:visited {
          color: $text-color;
        }
        &:hover {
          color: $link-color;
          text-decoration: none;
        }
        &:active {
          background-color: $link-color;
          color: $text-color;
        }
      }
    }
  }
}

.zone-menu-wrapper {
  @include rgba-background(#000, .5);
  overflow: hidden;
  padding: $small-padding * 1.5 0 $small-padding;
  position: absolute;
  top: 7em;
  width: 100%;
  z-index: 10;
  nav {
    text-align: center;
    li {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      span {
        background: url('../images/nav-sep.png') no-repeat center 1.45em;
        float: left;
        font-size: $font-size-default * .75;
        text-align: center;
        text-transform: uppercase;
        a {
          background: url('../images/nav.png') no-repeat center .75em;
          color: rgba(255,255,255,.75);
          display: block;
          width: 97px;
          padding: 4.5em $small-padding 0;
          &.active {
            background: url('../images/nav-active.png') no-repeat center 0;
            color: #fff;
            font-size: $font-size-default * .95;
            padding-top: 3.5em;
            &:hover {
              span {
                background: url('../images/nav-active.png') no-repeat center 0;
              }
            }
          }
          &.first {
          }
          &.last {
          }
          &:hover {
            color: #fff;
            text-decoration: none;
            a {
              background: url('../images/nav-hover.png') no-repeat center .75em;
            }
          }
        }
        &.arrow-nav {
          background: none;
          &.prev {
            a {
              background: url('../images/nav-arrow-left.png') no-repeat;
            }
          }
          &.next {
            a {
              background: url('../images/nav-arrow-right.png') no-repeat right 0;
            }
          }
          a {
            display: block;
            height: 35px;
            overflow: hidden;
            text-indent: -10000px;
            width: 35px;
          }
        }
      }
    }
  }
}

.page {
  .section-content {
    @include background-size(cover);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 7em;
    .zone-content-wrapper {
      background: url('../images/e-reolen.jpg') no-repeat;
      @include background-size(cover);
      bottom: 0;
      position: absolute;
      top: 0;
      .slide {
        @include background-size(cover);
        height: 100%;
        position: absolute;
      }
      .zone-content {
        margin: auto;
        padding-top: 11em;
        .region-content-inner {
          @include rgba-background(#fff, .9);
          padding: $medium-padding;
        }
        .region-sidebar {
          overflow: hidden;
        }
      }
    }
  }
}

// Video styling
.file-video {
  iframe,
  div {
    max-width: 100%;  
  }
}
