@import "compass/reset";
@import "compass/css3";
@import "typography.scss";
@import "variables.scss";
@import "mixins.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  &.no-js,
  &.logged-in {
    .zone-menu-wrapper {
      nav {
        li {
          &.first,
          &.last {
            background-image: url('../images/nav-bullet.png');
            background-repeat: no-repeat;
          }
          &.first {
            background-position: left 12px;
            padding-left: 1px;
          }
          &.last {
            background-position: right 12px;
            padding-right: 1px;
          }
        }
      }
    }
  }
}

// Editor font styles
.align-right {
  float: right;
  margin-left: 1em;
  img {
    margin-top: 0;
  }
}
.align-left {
  float: left;
  margin-right: 1em;
  img {
    margin-top: 0;
  }
}

.menu-dropdown {
  cursor: pointer;
  .block-title {
    background: url('../images/nav-arrow-small.png') no-repeat right 1px;
    padding-right: $small-padding * 1.75;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    @include rgba-background(#fff, .9);
    display: none;
    padding: $small-padding;
    position: absolute;
    right: -4px;
    text-align: right;
    min-width: 200px;
    z-index: 100001;
    li {
      padding-right: $small-padding * 0.5;
      ul {
        padding: 0;
        background: none;
        position: relative;
        li {
          padding-right: $small-padding * 0.5;
          a {
            &:after {
              content: " -";
            }
          }
        }
      }    
    }
  }
}

header {
  background: #fff;
  height: 7em;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  .region-secondary-menu {
    font-size: $font-size-default * .9;
    margin-top: $small-padding;
    a {
    color: $text-secondary-color;
    }
    text-transform: uppercase;
    .region-secondary-menu-inner>nav,
    .region-secondary-menu-inner>div {
      float: right;
      margin-right: $small-spacing;
    }
    .block-locale-language {
      border-right: 1px solid $color-light;
      padding-right: $small-spacing;
    }
  }
  .zone-branding {
    .site-name {
      margin-top: $medium-padding;
      margin-bottom: $small-padding;
      a {
        font-size: $font-size-default * 1.6;
        text-transform: uppercase;
        &:link,
        &:visited {
          color: $text-color;
        }
        &:hover {
          color: $link-color;
          text-decoration: none;
        }
        &:active {
          background-color: $link-color;
          color: $text-color;
        }
      }
    }
  }
}

.zone-menu-wrapper {
  @include rgba-background(#000, .5);
  overflow: hidden;
  padding: $small-padding * 1.5 0 $small-padding;
  position: absolute;
  top: 7em;
  width: 100%;
  z-index: 10;
  nav {
    text-align: center;
    li {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      span {
        background: url('../images/nav-sep.png') no-repeat center 1.45em;
        float: left;
        font-size: $font-size-default * .75;
        text-align: center;
        text-transform: uppercase;
        a {
          background: url('../images/nav.png') no-repeat center .75em;
          color: rgba(255,255,255,.75);
          display: block;
          width: 97px;
          padding: 4.5em $small-padding 0;
          &.active {
            background: url('../images/nav-active.png') no-repeat center 0;
            color: #fff;
            font-size: $font-size-default * .95;
            padding-top: 3.5em;
            &:hover {
              span {
                background: url('../images/nav-active.png') no-repeat center 0;
              }
            }
          }
          &:hover {
            color: #fff;
            text-decoration: none;
            a {
              background: url('../images/nav-hover.png') no-repeat center .75em;
            }
          }
        }
        &.arrow-nav {
          background: none;
          &.prev {
            a {
              background: url('../images/nav-arrow-left.png') no-repeat;
            }
          }
          &.next {
            a {
              background: url('../images/nav-arrow-right.png') no-repeat right 0;
            }
          }
          a {
            display: block;
            height: 35px;
            overflow: hidden;
            text-indent: -10000px;
            width: 34px;
          }
        }
      }
    }
  }
}

.page {
  .section-content {
    @include background-size(cover);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 7em;
    .zone-content-wrapper {
      background: url('../images/e-reolen.jpg') no-repeat;
      @include background-size(cover);
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
      .slide {
        @include background-size(cover);
        height: 100%;
        position: absolute;
      }
      .zone-content {
        margin: auto;
        padding-top: 11em;
        .region-content-inner {
          @include rgba-background(#fff, .9);
          padding: $medium-padding;
        }
        .region-sidebar {
          overflow: hidden;
        }
      }
    }
  }
}

// Video styling
.file-video {
  iframe,
  div {
    max-width: 100%;  
  }
}
