body {
  padding: 100px;
  position: relative;
}

.ie8 {
  img,
  video {
    width: auto;
  }
}

// Make sure the content zone is 100% wide.
#zone-content-wrapper {
  width: 100%;
}

// Fix menus in IE 7
.section-header,
.region-secondary-menu {
  z-index: 11;
}

.zone-menu-wrapper {
  left: 0;
}