@import "variables.scss";
@import "compass/css3";

@media screen and (max-width: 1225px) {
  .zone-menu-wrapper {
    display: none;
  }
  .page {
    .section-content {
      .zone-content-wrapper {
        .zone-content {
          padding-top: 2em;
        }
      }
    }
  }
}

// 1200
@media screen and (max-width: 1200px) {
  header {
    height: auto;
    position: relative;
  }
  .zone-menu-wrapper,
  .page {
    position: relative;
    .section-content {
      position: relative;
      top: 1em;
      overflow-x: visible !important;
      .zone-content-wrapper {
        position: relative !important;
        width: 100% !important;
        .slide {
          position: relative;
          width: 100% !important;
        }
      }
    }
  }
  .container-12 {
    .region {
      &.always-stack {
        clear: both;
        margin-left: 0;
        margin-bottom: $medium-spacing;
        min-height: auto;
        width: 100%;
      }
    }
  }
}

// 1024
@media screen and (max-width: 1024px) {
  
}

// 768
@media screen and (max-width: 779px) {
  header {
    .zone-branding {
      position: relative;
      top: -30px;
      .site-name {
        margin-top: $large-spacing;
        margin-left: $small-spacing;
        a {
          font-size: $font-size-default * 1.15;
          margin: auto;
          @include transition-duration(1s);
        }
      }
    }
    .region-secondary-menu-inner {
      position: relative;
      top: 70px;
      .block-locale-language, .menu-dropdown {
        background-color: $color-light;
        @include border-radius(5px);
        padding: $small-padding $medium-padding;
      }
      .block-locale-language {
        border: 0;
      }
    }
    .menu-dropdown {
      position: relative;
      z-index: 1000001;
      ul {
        background-color: $color-light;
        padding-top: 45px;
        top: 0;
        z-index: -1;
        li {
          padding: $small-padding $medium-padding;
          li {
            padding: 0;
          }
          ul {
            top: 0;
            li {
              padding: $small-padding 0;
            }
          }
        }
      }
    }
  }
  .region {
    clear: both;
  }
}

// 550
@media screen and (max-width: 550px) {
  header {
    .zone-branding {
      .site-name {
        margin-top: $large-spacing;
        margin-left: $small-spacing;
        a {
          margin: auto;
        }
      }
    }
  }
}
