@import "variables.scss";

@media screen and (max-width: 1225px) {
  .zone-menu-wrapper {
    display: none;
  }
  .page {
    .section-content {
      .zone-content-wrapper {
        .zone-content {
          padding-top: 2em;
        }
      }
    }
  }
}

// 1200
@media screen and (max-width: 1200px) {
  header {
    height: auto;
    position: relative;
  }
  .zone-menu-wrapper,
  .page {
    position: relative;
    .section-content {
      position: relative;
      top: 1em;
      overflow-x: visible !important;
      .zone-content-wrapper {
        position: relative !important;
        width: 100% !important;
        .slide {
          position: relative;
          width: 100% !important;
        }
      }
    }
  }
  .container-12 {
    .region {
      &.always-stack {
        clear: both;
        margin-left: 0;
        margin-bottom: $medium-spacing;
        min-height: auto;
        width: 100%;
      }
    }
  }
}

// 1024
@media screen and (max-width: 1024px) {
  
}

// 768
@media screen and (max-width: 768px) {
  header {
    .zone-branding {
      .site-name {
        margin-top: $large-spacing;
        margin-left: $small-spacing;
        a {
          font-size: $font-size-default * 1.15;
          margin: auto;
          -moz-transition-duration:1s;
        }
      }
    }
  }
  .region {
    clear: both;
  }
}

// 550
@media screen and (max-width: 550px) {
  header {
    .zone-branding {
      .site-name {
        margin-top: $large-spacing;
        margin-left: $small-spacing;
        a {
          margin: auto;
        }
      }
    }
  }
}
