@import "variables.scss";

@media screen and (max-width: 1225px) {
  .zone-menu-wrapper {
    display: none;
  }
}

// 1200
@media screen and (max-width: 1200px) {
  .container-12 {
    .region {
      &.always-stack {
        clear: both;
        margin-bottom: $medium-spacing;
        min-height: auto;
        width: 100%;
      }
    }
  }
}

// 1024
@media screen and (max-width: 1024px) {
  
}

// 768
@media screen and (max-width: 768px) {
  .region {
    clear: both;
  }
}

// 550
@media screen and (max-width: 550px) {
  header {
    .zone-branding {
      .site-name {
        margin-top: $large-padding;
        a {
          font-size: $font-size-default * 1.25;
          margin: auto;
        }
      }
    }
  }
}
