@import 'variables.scss';

body {
  color: $text-color;
  font-family: $text-font;
  font-size: $font-size-default;
  a {
    &:link {
      color: $link-color;
      text-decoration: none;
    }
    &:visited {
      color: $link-visited;
    }
    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
    &:active {
      color: $link-active;
    }
  }
  h1 {
    &.title {
      font-size: $font-size-large;
      margin-bottom: $small-spacing * .9;
      margin-left: -2px; // Fix left spacing when using font from typekit.
    }
  }
}
