@import 'variables.scss';
@import 'mixins.scss';

body {
  color: $text-color;
  font-family: $text-font;
  font-size: $font-size-default;
  line-height: $font-size-default * 1.5;
  @include selection(#000, $link-color);
  a {
    &:link {
      color: $link-color;
      text-decoration: none;
    }
    &:visited {
      color: $link-visited;
      text-decoration: none;
    }
    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
    &:active {
      color: $link-active;
    }
  }
  h1 {
    &.title {
      font-size: $font-size-large;
      margin-bottom: $small-spacing * .9;
      margin-left: -2px; // Fix left spacing when using font from typekit.
    }
  }
  .content {
    h2,
    h3,
    h4 {
      font-weight: bold;
      margin-bottom: $small-spacing * .2;
    }
    h2 {
      font-size: $font-size-medium;
    }
    h3 {
      font-size: $font-size-small;
    }
    h4 {
      font-size: $font-size-small * 0.9;
    }
    p {
      margin-bottom: $small-spacing;
    }
    ul {
      li {
        list-style: square;
        margin-left: $small-spacing;
      }
    }
    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }
  }
}
