// Typography
$text-font: "ff-scala-sans-web-pro",sans-serif;
$text-color: #000;
$link-color: #ff6600;
$link-visited: #ff6600;
$link-hover: #ff6600;
$link-active: #ff6600;

// Font sizes
$font-size-default: 14px;
$font-size-small: $font-size-default * 1.25;
$font-size-medium: $font-size-default * 1.5;
$font-size-large: $font-size-default * 2;

// Paddings
$small-padding: 1em;
$medium-padding: 2em;
$large-padding: 3em;

// Spacing
$small-spacing: 1em;
$medium-spacing: 2em;
$large-spacing: 3em;